[Unit]
Description=Gunicorn instance to serve landr
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/sublevel-lime
ExecStart=gunicorn --workers 2 "sublevel-lime:create_app()"

[Install]
WantedBy=multi-user.target